body {
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FCFCFC;
}

h1 { font-size: 2.1rem; text-shadow: 1px 1px 1px #777;}
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

header,
footer {
  margin: 4rem 0;
  text-align: center;
}

main {
  margin: 4rem 0;
}

.container {
  width: 60%;
}

@media screen and (max-device-width:480px){
    .container {
      width: 100%;
    }
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.site-title {
  margin-top: 2rem;
}

.entry-title {
  margin-bottom: 0;
  display: inline-block;
}

h1.entry-title {
  margin-bottom: 30px;
  font-size: 2.2em;
  text-shadow: none;
}

@media screen and (max-device-width:480px){
    h1.entry-title {
        font-size: 2.1rem;
        margin-bottom: 10px;
    }
}

.entry-title a {
  text-decoration: none;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  color: #999;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

@media screen and (max-device-width:480px){
    #toc {
        display: none;
    }
}

#toc {
    position: fixed;
    left: 25px;
    top: 170px;
    background-color: #f8f8f8;
    padding: 20px 30px 20px 5px;
    border: solid #e1e1e1 1px;
    border-radius: 4px;
    min-width: 13%;
}

#toc li {
    margin-bottom: 5px;
}

#toc ul {
    margin: 0.5rem 0 0.5rem 2rem;
}
